DATABASE_URL=postgres://postgres:postgres@db:5432/koto

CLIENT_ID=

INVITE_LINK=https://discord.com/oauth2/authorize?client_id=1164654805730472018&scope=bot&permissions=511040

DISCORD_TOKEN=

REGISTER_COMMANDS=false

SENTRY_DNS=

TOP_GG_TOKEN=
TOP_GG_VOTE_LINK=

DISCORDBOTLIST_TOKEN=
DISCORDBOTLIST_VOTE_LINK=

BOTS_GG_TOKEN=
BOTS_GG_VOTE_LINK=

WEBHOOK_AUTHORIZATION_TOKEN=